header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  background: #fff;
  /* height: auto; */
}
header .inner {
  /* max-width: 980px; */
  /* 가운데 정렬, 위/아래 0, 왼쪽/오른쪽 auto - 단 width, max-width가 정의되어야 한다. */
  /* margin: 0 auto; */
  height: 78px;
}

header .inner a {
  text-decoration-line: none;
}

/* @media screen and (max-width: 1024px) { */
/* @media all and (max-width: 1024px) { */
@media (max-width: 1024px) {
  /* 선택자의 우선순위 */
  /* 명시도 - tag 1, class 10 */
  /* .section .inner에 선언 - 명시도 10+10 = 20 */
  /* header .inner에 선언 - 명시도 1+10 = 11, 안바뀜 - 아래와 같이 변경 */
  /* header .inner { */
  header.section .inner {
    max-width: none;
    /* 햄버거 눌렀을때 늘어나므로 height도 초기화 */
    height: auto;
    padding: 0 20px;
  }
  /* 다중 선택자 */
  /* header .menu-group,
  header .sign-group {
    float: none;
  } */
}
