header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  background: #fff;
  /* height: auto; */
}
header .inner {
  /* max-width: 980px; */
  /* 가운데 정렬, 위/아래 0, 왼쪽/오른쪽 auto - 단 width, max-width가 정의되어야 한다. */
  /* margin: 0 auto; */
  height: 78px;
}

header .inner a {
  text-decoration-line: none;
}
