@import url("reset.css");

/* 
BEM : CSS 명명규칙
- 일반적인 작명 : toggle-btn
__ ~의 일부분 : body__container
-- ~의 상태 : button--success
 */

.body__container {
  font-family: "Roboto", sans-serif;
  /* font-family: "Noto Sans KR", sans-serif; */
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}
