@import url("reset.css");

/* 
BEM : CSS 명명규칙
- 일반적인 작명 : toggle-btn
__ ~의 일부분 : body__container
-- ~의 상태 : button--success
 */

.body__container {
  font-family: "Roboto", sans-serif;
  /* font-family: "Noto Sans KR", sans-serif; */
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

/* section & inner */
.section {
  position: relative;
}

.section .inner {
  max-width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

/* float  */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.float--left {
  float: left;
}
.float--right {
  float: right;
}

/* summary */
.summary {
}
.summary__title {
  font-size: 38px;
  font-weight: 300; /* normal=400 */
  line-height: 1.25;
  margin-bottom: 18px;
}
.summary__description {
  font-size: 26px;
  font-weight: 300; /* normal=400 */
  color: #767676;
  line-height: 1.5;
}
